{% comment %}
    The script is commented out for development only. Commenting is removed by Phing during deployment build time.
{% endcomment %}

<script>/* Google Analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35397940-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
End Google Analytics */</script>