<div id="my-navbar" class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="#aaa">aaa</a></li>
            <li><a href="#bbb">bbb</a></li>
            <li><a href="#ccc">ccc</a></li>
        </ul>
    </div>
</div>

<div data-dojo-type="dobolo/ScrollSpy" data-dojo-props="targetSelector: '#my-navbar', offsetsSelector: '.spy-offset', offsetTop: 0, wait: 0" class="scroll-section">
    <section id="aaa" class="spy-offset">
        <h1>aaa</h1>
    </section>

    <section id="bbb" class="spy-offset">
        <h1>bbb</h1>
    </section>
    
    <section id="ccc" class="spy-offset">
        <h1>ccc</h1>
    </section>
</div>