[submodule "assets/vendor/sirprize/mijit"]
	path = assets/vendor/sirprize/mijit
	url = git://github.com/sirprize/mijit.git
[submodule "assets/vendor/sirprize/dojo-form-controls"]
	path = assets/vendor/sirprize/dojo-form-controls
	url = git://github.com/sirprize/dojo-form-controls.git
[submodule "assets/vendor/dojo/dojo"]
	path = assets/vendor/dojo/dojo
	url = git://github.com/dojo/dojo.git
[submodule "assets/vendor/dojo/util"]
	path = assets/vendor/dojo/util
	url = git://github.com/dojo/util.git
[submodule "assets/vendor/sirprize/dobolo"]
	path = assets/vendor/sirprize/dobolo
	url = git://github.com/sirprize/dobolo.git
[submodule "assets/vendor/twbs/bootstrap"]
	path = assets/vendor/twbs/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "assets/vendor/scottjehl/Respond"]
	path = assets/vendor/scottjehl/Respond
	url = https://github.com/scottjehl/Respond.git
[submodule "assets/vendor/aFarkas/html5shiv"]
	path = assets/vendor/aFarkas/html5shiv
	url = https://github.com/aFarkas/html5shiv.git
