---
---

{% assign affixDoc = 'http://twitter.github.com/bootstrap/javascript.html#affix' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dobolo - Dojo Bootstrap Love</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {% include styles.html %}
        {% include html5shim.html %}
    </head>

    <body>
        {% include navbar.html %}

        <!-- Subhead -->
        <header class="jumbotron subhead" id="overview">
            <div class="container">
                <h1>Dobolo</h1>
                <p class="lead">Dojo Bootstrap Love</p>
            </div>
        </header>

        <div class="container">

            <!-- Docs nav -->
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li><a href="#affix"><i class="icon-chevron-right"></i> Affix</a></li>
                        <li><a href="#button"><i class="icon-chevron-right"></i> Button</a></li>
                    </ul>
                </div>
            
                <div class="span9">
                    
                    <!-- Affix -->
                    <section id="affix" class="spy">
                        <div class="page-header">
                            <h1>Affix</h1>
                            <p>Add affix behavior to any element. Use offsets to define when to toggle the pinning of an element on and off.</p>
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/affix.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/affix.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                        
                        <h3>Properties</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>offsetTop</td>
                                    <td>Number</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>offsetBottom</td>
                                    <td>Number</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    
                    <!-- Button -->
                    <section id="button" class="spy">
                        <div class="page-header">
                            <h1>Button</h1>
                        </div>
                        
                        <h2>Stateful Button</h2>
                        
                        <div class="bs-docs-example">
                            {% include index/button-stateful.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/button-stateful.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/button-stateful.js %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ snippet | escape }}</pre>
                        
                        
                        <h3>Properties</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>loadingText</td>
                                    <td>String</td>
                                    <td>Loading...</td>
                                </tr>
                                <tr>
                                    <td>resetText</td>
                                    <td>String</td>
                                    <td>Loaded</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h3>Methods</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Args</th>
                                    <th>Returns</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>loading()</td>
                                    <td>--</td>
                                    <td>undefined</td>
                                </tr>
                                <tr>
                                    <td>reset()</td>
                                    <td>--</td>
                                    <td>undefined</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    
                </div>
            </div>
        </div>
        
        {% include footer.html %}
        {% include scripts.html %}
        {% include analytics.html %}
    </body>
</html>