---
---

{% assign affixDoc = 'http://twitter.github.com/bootstrap/javascript.html#affix' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dobolo - Dojo Bootstrap Love</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link rel="stylesheet" href="http://yandex.st/highlightjs/6.2/styles/solarized_dark.min.css">-->
        <!--<link href="../assets/vendor/twitter/bootstrap/docs/assets/js/google-code-prettify/prettify.css" rel="stylesheet">-->
        
        {% if site.env == "dev" %}
            <link rel="stylesheet" href="../assets/styles/bootstrap-common.css">
            <link rel="stylesheet" href="../assets/styles/bootstrap-responsive.css">
            <link rel="stylesheet" href="../assets/styles/bootstrap-docs.css">
            <link rel="stylesheet" href="../assets/scripts/google-code-prettify/prettify.css">
        {% else %}
            <link rel="stylesheet" href="../_assets/frontend-styles/bootstrap-common.css">
            <link rel="stylesheet" href="../_assets/frontend-styles/bootstrap-responsive.css">
            <link rel="stylesheet" href="../_assets/frontend-styles/bootstrap-docs.css">
            <link rel="stylesheet" href="../_assets/frontend/google-code-prettify/prettify.css">
        {% endif %}
        
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>

        <!-- Navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">
                                <a href="https://github.com/sirprize/dobolo">Dobolo on Github</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subhead -->
        <header class="jumbotron subhead" id="overview">
            <div class="container">
                <h1>Dobolo</h1>
                <p class="lead">Dojo Bootstrap Love</p>
            </div>
        </header>

        <div class="container">

            <!-- Docs nav -->
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li><a href="#affix"><i class="icon-chevron-right"></i> Affix</a></li>
                        <li><a href="#button"><i class="icon-chevron-right"></i> Button</a></li>
                    </ul>
                </div>
            
                <div class="span9">
                    
                    <!-- Affix -->
                    <section id="affix" class="spy">
                        <div class="page-header">
                            <h1>Affix</h1>
                            <p>Add affix behavior to any element. Use offsets to define when to toggle the pinning of an element on and off.</p>
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture affix_declarative %}{% include index/affix_declarative.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ affix_declarative | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture affix_programmatic %}{% include index/affix_programmatic.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ affix_programmatic | escape }}</pre>
                        
                        <h3>Properties</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>offsetTop</td>
                                    <td>Number</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>offsetBottom</td>
                                    <td>Number</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    
                    <!-- Button -->
                    <section id="button" class="spy">
                        <div class="page-header">
                            <h1>Button</h1>
                        </div>
                        
                        <h2>Stateful Button</h2>
                        
                        <div class="bs-docs-example">
                            {% include index/button_stateful-declarative.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture button_declarative %}{% include index/button_stateful-declarative.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ button_declarative | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture button_programmatic %}{% include index/button_stateful-programmatic.html %}{% endcapture %}
                        <pre class="prettyprint linenums">{{ button_programmatic | escape }}</pre>
                        
                        
                        <h3>Properties</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>loadingText</td>
                                    <td>String</td>
                                    <td>Loading...</td>
                                </tr>
                                <tr>
                                    <td>resetText</td>
                                    <td>String</td>
                                    <td>Loaded</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h3>Methods</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Args</th>
                                    <th>Returns</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>loading()</td>
                                    <td>--</td>
                                    <td>undefined</td>
                                </tr>
                                <tr>
                                    <td>reset()</td>
                                    <td>--</td>
                                    <td>undefined</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>Big thanks go out to the <a href="http://dojotoolkit.org">Dojo community</a> and the <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap crew</a></p>
                <p>This documentation has been generated with <a href="http://github.com/sirprize/static-dojo-site-generator">static-dojo-site-generator</a></p>
                {% comment %}
                <ul class="footer-links">
                    <li><a href="">aaa</a></li>
                    <li><a href="">bbb</a></li>
                </ul>
                {% endcomment %}
            </div>
        </footer>
        
        <!--<script src="http://yandex.st/highlightjs/6.2/highlight.min.js"></script>-->
        <!--<script src="../assets/vendor/twitter/bootstrap/docs/assets/js/google-code-prettify/prettify.js"></script>-->
        
        {% if site.env == "dev" %}
            <script src="../assets/scripts/google-code-prettify/prettify.js"></script>
            <script type="text/javascript" src="../assets/scripts/config.js"></script>
            <script type="text/javascript" src="../assets/vendor/dojo/dojo/dojo.js"></script>
            <script type="text/javascript" src="../assets/scripts/index.js"></script>
        {% else %}
            <script src="../_assets/frontend/google-code-prettify/prettify.js"></script>
            <script type="text/javascript" data-dojo-config="async: true, parseOnLoad: true" src="../_assets/dojo/dojo.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/event.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/promise.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/browser.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/ajax.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/dom-common.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/dom-extra.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/widget-common.js"></script>
            {% comment %}
            <script type="text/javascript" src="../_assets/frontend/layer/widget-extra.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/form-click.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/form-select.js"></script>
            <script type="text/javascript" src="../_assets/frontend/layer/form-text.js"></script>
            {% endcomment %}
            <script type="text/javascript" src="../_assets/frontend/index.js"></script>
        {% endif %}
        
        <script>/* Google Analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35397940-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        End Google Analytics */</script>
    </body>
</html>