---
---

{% assign buttonCssDoc = 'http://getbootstrap.com/components/#btn-groups' %}
{% assign alertCssDoc = 'http://getbootstrap.com/components/#alerts' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>dobolo - Dojo Bootstrap Love</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        {% if site.env == "dev" %}
            <link href="../assets/other/google-code-prettify/prettify.css" rel="stylesheet">
            <link href="../assets/vendor/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
            <link href="../assets/vendor/twbs/bootstrap/docs-assets/css/docs.css" rel="stylesheet">
            <link href="../assets/vendor/sirprize/dobolo/assets/calendar.css" rel="stylesheet">
            <link href="../assets/styles/docs.css" rel="stylesheet">

            <!--[if lt IE 9]>
                <script src="../assets/vendor/twbs/bootstrap/docs-assets/js/html5shiv.js"></script>
                <script src="../assets/vendor/twbs/bootstrap/docs-assets/js/respond.min.js"></script>
            <![endif]-->
        {% else %}
            <link href="../_assets/other/google-code-prettify/prettify.css" rel="stylesheet">
            <link href="../_assets/other/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
            <link href="../_assets/other/twbs/bootstrap/docs-assets/css/docs.css" rel="stylesheet">
            <link href="../_assets/other/sirprize/dobolo/assets/calendar.css" rel="stylesheet">
            <link href="../_assets/frontend-styles/docs.css" rel="stylesheet">

            <!--[if lt IE 9]>
                <script src="../_assets/other/twbs/bootstrap/docs-assets/js/html5shiv.js"></script>
                <script src="../_assets/other/twbs/bootstrap/docs-assets/js/respond.min.js"></script>
            <![endif]-->
        {% endif %}

        <style>
            .scrollspy-example-scroll-section {
                height: 200px;
                overflow: auto;
                position: relative;
            }
            
            .scrollspy-example-scroll-section section {
                margin: 0;
                padding: 0;
                height: 50em;
            }
            
            .scrollspy-example-scroll-section section h1 {
                margin: 0;
                padding: 0;
                border: 0;
            }
        </style>
    </head>

    <body data-dojo-type="dobolo/ScrollSpy" data-dojo-props="targetSelector: '.bs-sidenav', offsetsSelector: '.bs-docs-section', offsetTop: 70, wait: 100">
        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a href="http://github.com/sirprize/dobolo" class="navbar-brand">dobolo on Github</a>
                </div>
            </div>
        </header>

        <div class="jumbotron">
            <div class="container">
                <h1>dobolo</h1>
                <p>Dojo Bootstrap Love</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="bs-sidebar hidden-print" data-dojo-type="dobolo/Affix" data-dojo-props="offsetTop: 200">
                        <ul class="nav bs-sidenav">
                            <li><a href="#affix">Affix</a></li>
                            <li><a href="#alert">Alert</a></li>
                            <li><a href="#button">Button</a></li>
                            <li><a href="#datepickerinput">DatepickerInput</a></li>
                            <li><a href="#scrollspy">ScrollSpy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-9" role="main">
                    <!-- Affix -->
                    <div id="affix" class="bs-docs-section">
                        <div class="page-header">
                            <h1>Affix</h1>
                            <p>Add affix behavior to any element. Use offsets to define when to toggle the pinning of an element on and off.</p>
                        </div>
                        
                        <div class="bs-example">
                            The subnavigation on the left is a live demo of the <code>Affix</code> module.
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/affix.html %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/affix.js %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Properties</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>offsetTop</td>
                                    <td>number, function</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>offsetBottom</td>
                                    <td>number, function</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- Alert -->
                    <div id="alert" class="bs-docs-section">
                        <div class="page-header">
                            <h1>Alert</h1>
                            <p>Find the <a href="{{ alertCssDoc }}">Bootstrap CSS reference for alerts</a> on the Bootstrap website.</p>
                        </div>
                        
                        <div class="bs-example">
                            {% include index/alert.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/alert.html %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/alert.js %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Properties</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>content</td>
                                    <td>string</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>closable</td>
                                    <td>boolean</td>
                                    <td>true</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h3>Methods</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Returns</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>close()</td>
                                    <td>undefined</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h3>Events</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>close</td>
                                </tr>
                                <tr>
                                    <td>closed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- Button -->
                    <div id="button" class="bs-docs-section">
                        <div class="page-header">
                            <h1>Button</h1>
                            <p>Find the <a href="{{ buttonCssDoc }}">Bootstrap CSS reference for buttons</a> on the Bootstrap website.</p>
                        </div>
                        
                        <h2>Stateful Button</h2>
                        
                        <div class="bs-example">
                            {% include index/button-stateful.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/button-stateful.html %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/button-stateful.js %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h2>Checkbox Button</h2>
                        
                        <div class="bs-example">
                            {% include index/button-checkbox.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/button-checkbox.html %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/button-checkbox.js %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h2>Radio Button</h2>
                        
                        <div class="bs-example">
                            {% include index/button-radio.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/button-radio.html %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/button-radio.js %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        
                        <h3>Properties</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>loadingText</td>
                                    <td>string</td>
                                    <td>Loading...</td>
                                </tr>
                                <tr>
                                    <td>resetText</td>
                                    <td>string</td>
                                    <td>Loaded</td>
                                </tr>
                                <tr>
                                    <td>mode</td>
                                    <td>string</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>group</td>
                                    <td>string</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h3>Methods</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Returns</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>loading()</td>
                                    <td>undefined</td>
                                </tr>
                                <tr>
                                    <td>reset()</td>
                                    <td>undefined</td>
                                </tr>
                                <tr>
                                    <td>toggle()</td>
                                    <td>undefined</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- DatepickerInput -->
                    <div id="datepickerinput" class="bs-docs-section">
                        <div class="page-header">
                            <h1>DatepickerInput</h1>
                            <p>Dropdown calendar to set a date into an input field. Please make sure to reference the Dobolo <code>calender.css</code> stylesheet. The <code>locale</code> for the datepicker can be set in <code>dojoConfig</code>.
                        </div>
                        
                        <div class="bs-example">
                            {% include index/datepickerinput.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        {% capture snippet %}{% include index/datepickerinput.html %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/datepickerinput.js %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Properties</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>value</td>
                                    <td>Date</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>weekStart</td>
                                    <td>number</td>
                                    <td>0</td>
                                    <td>0 for sunday, 1 for monday, 2 for tuesday etc</td>
                                </tr>
                                <tr>
                                    <td>format</td>
                                    <td>string</td>
                                    <td>long</td>
                                    <td>short, medium, long, full</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <h3>Events</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>show-calendar</td>
                                </tr>
                                <tr>
                                    <td>hide-calendar</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- ScrollSpy -->
                    <div id="scrollspy" class="bs-docs-section">
                        <div class="page-header">
                            <h1>ScrollSpy</h1>
                        </div>
                        
                        <div class="bs-example">
                            <p>This page with the subnavigation on the left is a live demo of the <code>ScrollSpy</code> module applied to <code>&lt;body&gt;</code> and below is an example of <code>ScrollSpy</code> applied to an element with <code>overflow: auto</code></p>
                            {% include index/scrollspy.html %}
                        </div>
                        
                        <h3>Declarative</h3>
                        <p>When using ScrollSpy on <code>&lt;body&gt;</code>, make sure to start the parser on the <code>&lt;html&gt;</code> element: <code>parser.parse(query('html')[0]);</code></p>
                        {% capture snippet %}{% include index/scrollspy.html %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Programmatic</h3>
                        {% capture snippet %}{% include index/scrollspy.js %}{% endcapture %}
                        <pre class="prettyprint">{{ snippet | escape }}</pre>
                        
                        <h3>Properties</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>targetSelector</td>
                                    <td>string</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>offsetsSelector</td>
                                    <td>string</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>offsetTop</td>
                                    <td>number</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>wait</td>
                                    <td>number</td>
                                    <td>100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <footer class="bs-footer" role="contentinfo">
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>Big thanks go out to the <a href="http://dojotoolkit.org">Dojo community</a> and the <a href="http://getbootstrap.com/">Twitter Bootstrap crew</a></p>
                <p>dobolo is written by <a href="http://sirprize.me">sirprize</a> and it is released under the <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.</p>
                <p>This project is hosted on <a href="http://github.com/sirprize/dobolo">Github</a> and this documentation has been generated with <a href="http://github.com/sirprize/dobolo-doc">dobolo-doc</a></p>
            </div>
        </footer>
        
        {% if site.env == "dev" %}
            <script src="../assets/other/google-code-prettify/prettify.js"></script>
            <script src="../assets/scripts/config.js"></script>
            <script src="../assets/vendor/dojo/dojo/dojo.js"></script>
            <script src="../assets/scripts/index.js"></script>
        {% else %}
            <script src="../_assets/other/google-code-prettify/prettify.js"></script>
            <script data-dojo-config="async: true, parseOnLoad: true" src="../_assets/dojo/dojo.js"></script>
            <script src="../_assets/frontend/index.js"></script>
        {% endif %}
        
        {% comment %}
            The script is commented out for development only. Commenting is removed by Phing during deployment build time.
        {% endcomment %}

        <script>/* Google Analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35397940-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        End Google Analytics */</script>
    </body>
</html>